* {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
}

header img {
  height: 50px;
  padding-left: 20px;
}

a {
  color: seashell;
  text-decoration: underline;
  display: inline-block;
  padding: 7px;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
}

#mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 20px;
}

#month {
  width: 1000px;
  padding: 50px;
}

.monthly.tea {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tea.image img {
  height: 200px;
  width: 300px;
  padding: 15px;
}

.tea.image span {
  display: flex;
  justify-content: center;
}

#locations {
  background-image: url("../images/locations-background.jpg");
  width: 1200px;
  height: 500px;
}

#locations h2 {
  display: block;
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
}

.container {
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
}

.box.address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 15px;
  padding: 10px;
  width: 300px;
  height: 225px;
  opacity: 1.0;
}

h2,
h3,
h4 {
  padding: 10px;
  font-weight: bold;
}

h5 {
  padding: 20px;
}

#contact {
  display: block;
  padding-bottom: 20px;
  height: 200px;
}

#footer h5 {
  text-align: left;
  padding-left: 20px;
}
